*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
}

html,body{
    height: 100%;
}

.nome{
    color: rgb(184, 182, 182);
    text-align: center;
    font-size: 150%;
}

.parent{
    display: flex;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #031221;   
}

.topbar{
    width: 100%;
    height: 1%;
    position: fixed;
    background-color: #031221;
}

.sidebar-pos{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}

.img-sidebar{
    text-align: center;
}

.img-sidebar img{
    width: 60%;
    border: 4px solid rgb(184, 182, 182) ;
    border-radius: 50%;
}

.menu{
    margin: 20px 0;
    text-align: center;
  
}

.menu a{
    color: rgb(184, 182, 182);
    opacity: 1;
    font-size: 25px;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;

}

.content{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 270%;
    background-color: #c9c6c6;
    overflow-y: auto;
    font-size: 36px;
}

.NNF{
    color: #031221;
}


/**<descrição**/
.descricao{
    position: absolute; /**não fica responsivo, dps arrumar**/
    width: 100%;
    height: 40%;
} /**área da descrição **/

.descricao h1{
    color: black;
    margin-top: 12%;
    margin-left: 10%;
}

.descricao h1 span{
    color: #072b50;
}

.cidade, .idade, .email{
    color: rgb(32, 32, 32);
    font-size: 70%;   
    margin-left: 10%;
}

.email{
    color:#072b50;
}

.apresentacao{
    margin-left: 10%;
    font-size: 70%;
}
/**<descrição>**/



/**<icones**/
.icons-social{
    margin-top: 1%;
    transform: scale(48%); /**coloca esse transform nos icones, n no icons.social**/
    margin-left: -22%;
}
.face{
    margin-left: 0%;
    width: 100%;
    height: 100%;
}
.insta{
    margin-left: 3%;
    width: 100%;
    height: 100%;
}
.wpp{
    margin-left: 3%;
    width: 100%;
    height: 100%;
}
/**icones>**/



/** EXPERIENCIA**/
.experiencia{
    color:black;
    width: 100%;
    height: 40%;
    margin-top: 55%;
    
    background-color: #949292;
}

.experiencia h1{
    margin-left: 10%;
    margin-top: 10%;
    
}
.topico1, .topico2, .topico3, .topico4{
    margin-left: 10%;
}

.topico2{
    margin-top: -12%;
}
.topico3{
    margin-top: -26%;
}

.artstation{
    transform: scale(40%);
    margin-left: -20%;
    margin-top: -14%;
    width: 100%;
    height: 100%;
    border-radius: 6%;
    border: 12px solid #072b50; 
}
.gamejolt{
    transform: scale(20%);
    width: 100%;
    height: 100%;
    margin-left: -30%;
    margin-top: -10%;
    border-radius: 6%;
    border: 12px solid #072b50;
}
.github{
    transform: scale(10%);
    width: 100%;
    height: 100%;
    margin-left: -35%;
    margin-top: -25%;
    border-radius: 6%;
    border: 30px solid #072b50;
}
/**EXPERIENCIA**/




/**FORMAÇÃO**/
.formacao{
    color: black;
    
    width: 100%;
    height: 20%;

}

.formacao h1{
    margin-left: 10%;
}
.formacao h5{
    margin-left: 10%;
    
}

/**FORMAÇÃO**/

